<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./style.css"></link>
    <script type="text/javascript" src="./nav.js"></script>
    <title>Meredith M. Alongi</title>
  </head>
  <body>
    <div class="content">
      <div id="landing" class="txt">
        <h1>Meredith M. Alongi</h1>
	<p>Good translation is integral to successful communication across cultures.
	It is a skill, but more importantly an art. </p>
	<p>I am a freelance translator and editor based in Berlin,
	available for projects big and small. I work on texts
	in French and German and translate into my native English.</p>	
	<p>If you’re curious or seeking more information, please <a href="#resume">take a peek</a> below at my previous experience, or <a href="#contact">contact me directly.</a></p>
      </div>
    </div>
    <div id="resume" class="content">
      <img id="fade-img" src="./portrait.jpg">
      <div class="txt bigger">
        <h1>Resume</h1>
        <span>Translations from and to English, French and German</span>
        <div class="resume-item">
          <h3>Education</h3>
	  <p>Universit&auml;t Potsdam<span class="right">since 2016</span></p>
	  <p class="resume-item-txt">Master of Arts, Fremdsprachenlinguistik (Foreign Language Linguistics)</p>
          <p>Tulane University<span class="right">2012-2015</span></p>
          <p class="resume-item-txt">Bachelor of Arts, French Studies Major, with German Studies Minor</p>
        </div>
        <div class="resume-item">
          <h3>Professional Experience</h3>
          <p>Freelance Work<span class="right">since 2014</span></p>
          <p class="resume-item-txt">I've translated and edited for a number of clients, including
	    <a href="https://brig.ht">Bright</a>, <a href="http://www.hnoc.org/">the Historic New Orleans Collection</a>, and
	    <a href="http://isl-edu.org/">the International School of Louisiana</a>.</p>
          <p>English Language Assistant<span class="right">2013-2015</span></p>
	  <p class="resume-item-txt">I also volunteered as an English language assistant in international classrooms at the following institutions:</p>
	  <div class="a-tad-right">
            <p class="resume-item-txt no-breather">OSZ Lotis, Berlin Kreuzberg</p>
            <p class="resume-item-txt no-breather">Die Evangelische Schule, Berlin Mitte</p>
            <p class="resume-item-txt">Ecole Bilingue, New Orleans</p>
	  </div>
        </div>
      </div>
    </div>
    <div id="contact" class="content">
      <div class="txt">
        <h1>Get in Touch</h1>
        <form action="./contact">
          <input type="email" placeholder="Your email address" name="from">
          <input type="text" placeholder="Who you are" name="subject">
          <textarea placeholder="Information about your project" name="text"></textarea>
          <input type="submit" value="Let me know">
        </form>
      </div>
    </div>
    <div class="whole-width not-quite-bottom">
	<p class="note">Made with &#x2661; by Veit Heller. Check out the sources <a href="https://github.com/hellerve/malongi">here</a>. Need an imprint? <a href="./imprint">Gotcha.</a></p>
    </div>
  </body>
</html>
